doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://unpkg.com/htmx.org@1.9.5") 
    script(src="https://unpkg.com/htmx.org/dist/ext/json-enc.js" ) 
  body.container.mx-auto
    main.px-4
      block content
